<% post.comments.each do |comment| %>
    <div class="comment">
        <%#= image_tag comment.author.avatar.variant(resize: "30x30!") %> <b><%= comment.author.name %></b>
        <br>
        <p><%= comment.content %></p>
        <%= pluralize(comment.like_count, "like") %>
        <%= link_to "like", like_comment_path(comment), method: 'post' %> <%= link_to "unlike", unlike_comment_path(comment), method: 'delete' %>
    </div>
<% end %>