<nav>
    <div><%= link_to "Home", root_path %></div>
    <div><%= link_to "Sign out", destroy_user_session_path, method: 'delete' %></div>
    <div><%= link_to "Profile", user_path(current_user) %></div>
    <div><%= link_to "Pending requests", requests_users_path %></div>
    <div><%= link_to "Feed", posts_url %></div>
</nav>